<script setup lang="ts">
defineProps({
  publishedAt: {
    type: String,
  },
  title: {
    type: String,
  },
  imgSrc: {
    type: String,
  },
  uploadedAt: {
    type: String,
  },
  id: {
    type: Number,
  },
});
</script>

<template>
  <RouterLink :to="'/article/' + id">
    <div class="block relative h-48 rounded overflow-hidden">
      <img
        alt="ecommerce"
        class="object-cover object-center w-full h-full block"
        :src="imgSrc ? imgSrc : 'https://dummyimage.com/420x260'"
      />
    </div>
    <div class="mt-4">
      <div class="flex justify-between">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          Published At: {{ publishedAt }}
        </h3>
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
          Updated At: {{ uploadedAt }}
        </h3>
      </div>
      <h2 class="text-gray-900 title-font text-lg font-medium">
        {{ title }}
      </h2>
    </div>
  </RouterLink>
</template>
