<script setup lang="ts">
import { useArticleStore } from "@/stores/articles";
import { computed, onMounted } from "vue";
import { useRoute } from "vue-router";
import DateFormat from "../../utils/DateFormat";

const articleStore = useArticleStore();

const route = useRoute();

const getArticleData = computed<any>(() => {
  return articleStore.getSingleArticle;
});

const id = route.params.id;

onMounted(() => {
  articleStore.fetchSingleArticle(id);
});
</script>

<template>
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            {{ getArticleData.newsSite }}
          </h2>
          <div class="flex justify-between">
            <h3
              class="text-gray-500 text-xs tracking-widest title-font mb-1 mt-1"
            >
              Published At:
              {{
                getArticleData.publishedAt
                  ? DateFormat(getArticleData.publishedAt)
                  : getArticleData.publishedAt
              }}
            </h3>
            <h3
              class="text-gray-500 text-xs tracking-widest title-font mb-1 mt-1"
            >
              Updated At:
              {{
                getArticleData.updatedAt
                  ? DateFormat(getArticleData.updatedAt)
                  : getArticleData.updatedAt
              }}
            </h3>
          </div>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
            {{ getArticleData.title }}
          </h1>

          <p class="leading-relaxed mb-4">
            {{ getArticleData.summary }}
          </p>
          <a :href="getArticleData.url" target="_blank" class="underline"
            >Read Full Article</a
          >
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          :src="
            getArticleData.imageUrl
              ? getArticleData.imageUrl
              : 'https://dummyimage.com/400x400'
          "
        />
      </div>
    </div>
  </section>
</template>
