<script setup lang="ts">
import router from "@/router";
import { reactive, computed } from "vue";

const inputData = reactive({
  email: "",
  password: "",
});

const isDisabled = computed(() => {
  return inputData.email == "" || inputData.password == "";
});

const getFormData = () => {
  router.push({ name: "articles" });
};
</script>

<template>
  <section class="text-gray-600 body-font">
    <div
      class="container px-5 py-24 mx-auto flex flex-wrap items-center justify-center"
    >
      <div
        class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0"
      >
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Login</h2>

        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            v-model="inputData.email"
            placeholder="email@email.com"
          />
        </div>
        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            v-model="inputData.password"
            placeholder="*******"
          />
        </div>
        <button
          class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          :class="{ 'bg-slate-400 hover:bg-slate-400': isDisabled }"
          :disabled="isDisabled"
          @click="getFormData"
        >
          Login
        </button>
      </div>
    </div>
  </section>
</template>
